
.search.active {
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #071d74;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

@media (max-width: 768px) {
  header ul {
    padding-top: 30px;
  }

}